.game-button {
  /*border: 5px solid #d16a0a;
  background-color: #0a92d1;*/

  margin: 50px;
  padding: 15px;

  cursor: pointer;
}

.game-button:hover {
  /*border: 5px solid #0a92d1;
  background-color: #d16a0a;*/
}
